.App {
  margin: 0 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageMargin {
  margin: 5%;
}

.flexCol {
  width: 50%;
  min-width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.space {
  /* margin: 5% 0; */
  margin: 20px 0 !important;
}

.align {
  display: flex;
  justify-content: space-between;
}

.correctAnswer {
  background-color: rgba(192, 237, 166, 0.5) !important;
}

.pageAlign {
  width: 100%;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5% 2%;
}

.cardPanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.cardStyle {
  width: 80%;
  min-width: 300px;
  max-width: 500px;
}

.loadingBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  margin: auto;
  width: 30%;
  height: 15%;
  object-fit: cover;
  /* max-width: 100%; */
}
.fun {
  text-align: center;
  /* background-color: black; */
  /* color: white; */
}

.reportAlign {
  margin: 5%;
  width: 90vw;
  display: flex;
  gap: 5%;
}
