.flexCol {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.buttonSpace {
  /* margin: 5% 0; */
  margin: 20px 0 !important;
}

.alignRight {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}
