.page {
  margin: 0 5%;
}

.flexCol {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.space {
  /* margin: 5% 0; */
  margin: 20px 0 !important;
}

.align {
  display: flex;
  justify-content: space-between;
}
